{#=====================================================
  Base template
  - Used as the basis of all pages
  - Uses a light colour theme by default
  - Provides a main heading and navigation menu
  - Has blocks for the page title and main content
  - Loads PicoCSS and Pico Colours
  - Loads a user stylesheet
  - Loads JS utility functions
  - Includes block for flash messages
=====================================================#}

<!DOCTYPE html>

<html lang="en" data-theme="light">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/static/images/icon.svg">

	<title>{% block title %}{% endblock %}</title>

    <script src="/static/js/utils.js"></script>
    <script src="/static/js/script.js"></script>


    <link rel="stylesheet" href="/static/css/styles.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.slate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
   


    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>

   
</head>

<body>

    <header>
        
        <nav class="nav flex-column">
            
            
            <a href="/" id="navTitle"><strong>Firewood Business Tracker</strong></a>        
                
                <article id="nav">
                    <a href="/" class="nav-link">Home</a>
                    <a href="/customers" class="nav-link">Customers</a>
                    <a href="/woods" class="nav-link">Wood</a>
                </article>
            
        </nav>
    </header>


    {# Show flash messages from any previous events #}
    {% include "components/messages.jinja" %}


    <main>

        {% block content %}
        {% endblock %}

    </main>


    {# Show debug info. Comment this out if not needed #}
    {% include "components/debug.jinja" %}

</body>

</html>

