{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    customer {{ customer.id }}

{% endblock %}


{% block content %}

<article>

<h1>{{ customer.name }}</h1>

<article>

<p>Email: {{customer.email}} </p>
<p>phone: {{customer.phone}} </p>
<p>Address: {{customer.address}} </p>
</article>

<article>

<h2>Orders:</h2>
    
    {%if not orders == None%}
        
        {% for order in orders %}
            <li>
                <a href="/order/{{ order.id }}">
                    {{ order.date  }}
                </a>
            </li>            
        {% endfor%}
    {%else%}
        <p>no orders :thumbsup:</p> 
        {# change this to something actually helpful #}
    {%endif%}
</article>

</article>

    <footer>
        <a href="/delete/{{ customer.id }}" onclick="return confirm('Really delete?');">Delete</a>
    </footer>

{% endblock %}

