{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    customer {{ customer.id }}

{% endblock %}


{% block content %}

<article class="background">

    <article class="borderHeader" id="nameplate">
        <h1 class="text">{{ customer.name }}</h1>
    </article>

<article class="innerbackground">

<p class="white">EMAIL: {{customer.email}} </p>
<p class="white">PHONE NUM.: {{customer.phone}} </p>
<p class="white">address: {{customer.address}} </p>
</article>

<article class="innerbackground" id="orders">

<h2 class="text" >Orders:</h2>

    
    {%if not orders == None%}
        
        {% for order in orders %}
            <p>
                <a href="/order/{{ order.id }}" class="date">
                    {{ order.date  }}
                </a>
            </p>            
        {% endfor%}
    {%else%}
        <p>This person has no orders. </p> 
    
    {%endif%}

     
</article>
<a href="/delete/{{ customer.id }}" onclick="return confirm('Really delete?');" role="button" class="brownButton">Delete</a>
</article>

    <footer>
       
    </footer>

{% endblock %}

