{# CUSTOMERS PAGE! #}
{# - Shows all the customers currently in the database#}
{# - Shows a list of their orders.  #}

{% extends 'pages/base.jinja' %}


{% block title %}

    Customers List

{% endblock %}


{% block content %}

  <article id="header">
    
    <h1>Customer Data</h1>
    
  </article>



  {# The custoemrs list - Don't move this #}
  
  <article>
  
  
    {# Search function, search bar, form  #}
    <form method="POST" action="/search">         
      <input
      type="search"
    name="search"
    placeholder="Search"
    aria-label="Search"
    id="search" 
    onchange="this.form.submit()"/>
    </form>

  {# Showing the search results #}
    {%for result in results%}
      <a href="/customer/{{result.id}}">
      {{result.name}}
      </a>
      <br>
    
    {%endfor%}

  </article>


{# Customer List #}
  <article>      
    
    <H2>Cutomers:</H2>
    
    <ul>
      {% for customer in customers %}

        <li>
          <a href="/customer/{{ customer.id }}">
              
              {{ customer.name }}
                    
          </a>

        <ul>
              
          {% for order in orders %}
            {% if customer.id == order.cid %}
              <li>
                <a href="/order/{{ order.id }}">
                  {{ order.date  }}
                </a>
              </li>
            {% endif %}
            {% else %}
                           
              <li>NONE</li>
                        
          {% endfor %}
                    
        </ul>
      </li>

    {% else %}

      <p>None!</p>

            {% endfor %}
        </ul>

    </article>



{% endblock %}

