{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

 Home 

{% endblock %}


{% block content %}

  <article id="intro">
      <h1>Home</h1>
  </article>
    
  <article id="backgroundOfButtons">
   
    <a href="/customers" role="button" class="brownButton">See customers</a>
    <br>
    <a href="/woods" role="button" class="brownButton">See Wood</a>
    <br>
    <a href="/wood-add" role="button" class="brownButton">Add an order</a>
    
  </article>




{% endblock %}

