{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

 Home 

{% endblock %}


{% block content %}

  <article id="intro">
      <h1>Home</h1>
  </article>
    
  <article id="backgroundOfButtons">
   
    <a href="/customers" role="button" id="IAMBUTTON">See customers</a>
    <br>
    <a href="/woods" role="button" id="IAMBUTTON">See Wood</a>
    <br>
    <a href="/wood-add" role="button" id="IAMBUTTON">Add an order</a>
    
  </article>
         {# <article class="navItems">
                <ul>
                    <li><a href="/">Home</a></li>
                    
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/woods">Wood</a></li>
                </ul>
            </article> #}

    

{% endblock %}

