{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Order {{ order }}

{% endblock %}



{% block content %}

    <article class="background">

    <article class="borderHeader">
        <h1 class="text">Order {{ order.id }} </h1>
    </article>


    {% if not contains == None%}

        <article class="innerbackground">
        <ul>
            {%for woo in wood%}
        
                {%for contain in contains%}
                
                    {% if contain.wid == woo.id %}
            
                        <li class="white">
                            {{woo.type}} - {{contain.qty}}

                        </li>
                    {%endif%}
            
                {%endfor%}
        
            {%endfor %}
        </ul>
        </article>
    {%else%}
        <p>No wood was in this order.</p>

    {%endif%}

    <div></div>

    <a role="button" href="/customers" class="brownButton">Back to customers List</a>

    </article>

{% endblock %}

