{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Order {{ order }}

{% endblock %}



{% block content %}

    <article>

        <h1>Order {{ order.id }} </h1>



    {% if not contains == None%}

        <ul>
            {%for woo in wood%}
        
                {%for contain in contains%}
                
                    {% if contain.wid == woo.id %}
            
                        <li>
                            {{woo.type}} - {{contain.qty}}

                        </li>
                    {%endif%}
            
                {%endfor%}
        
            {%endfor %}
        </ul>

    {%else%}
        <p>theres no wood in this order cuz i made it while i was testing stuff, change this to make this helpful later.</p>

    {%endif%}

    <div></div>

    <a role="button" href="/customers">Back to customers List</a>

    </article>

{% endblock %}

