{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Order {{ order.id }}

{% endblock %}



{% block content %}

<article>

    <h1>Order {{ order.id }}</h1>

    
  
       
        {{ wood.type    }}
        {{  order.date   }}

 

<div></div>

    <a role="button" href="/customers">Back to customers List</a>

</article>

{% endblock %}

