{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Wood

{% endblock %}


{% block content %}

    <article class="borderHeader">
    <h1 class="text">Wood Data</h1>
    </article>

<article id="backgroundPieChart">

  <div style="width: 350px;">
      <canvas id="wood-chart"></canvas>
  </div>

  <article  class="innerbackground">
  
  {% for ChartWood in ChartWoods%}
  
    <p class="white">{{ChartWood.type}} : {{ChartWood.total}}</p>
  
  {%endfor%}

  </article>

  </article>


  <article>
    <h1 class="text">Woods In Stock</h1>
        <ul>
            {% for ChartWood in ChartWoods %}

                <li>        
                        {{ ChartWood.type }}
                    </a>

                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

<script>

  const data = [    
      
      {% for ChartWood in ChartWoods %}

          { type: "{{ ChartWood.type }}", count: {{ ChartWood.total }} },

      {% endfor %}

    ];

  new Chart(
      document.getElementById('wood-chart'),
      {
        type: 'pie',
        data: {
          labels: data.map(row => row.type),
          datasets: [
            {
              label: 'Wood by Type',
              data: data.map(row => row.count)
            }
          ]
        }
      }
    )
</script> 

{% endblock %}

