{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Track an order

{% endblock %}


{% block content %}

    <h1>Log an order</h1>

    <article>
        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Customer Name"
                required
            >

            <input type="date" name="date" aria-label="Date">
    
            
            <table>
                <thead>
                  <tr>
                    <th scope="col">Woods</th>
                    <th scope="col">Amounts</th>
                  </tr>
                </thead>
                <tbody>

                {% for wood in woods %}
                  <tr>
                    <th scope="row">{{ wood.type }}</th>
                    <td>
                        <input
                          type="number"
                          placeholder="amount"
                          name="wood-{{ wood.id }}"
                          
                        >
                    </td>
                  </tr>

                {% endfor %}
                                    
                </tfoot>
            </table>

            <input
                type="text"
                name="email"
                placeholder="Email Adress"
                required
            >

            <input
                type="text"
                name="phone"
                placeholder="Phone Number"
                required
            >
            <input
                type="text"
                name="address"
                placeholder="Address"
                required
            >

            <button>Place Order</button>

        </form>

    </article>

{% endblock %}

