{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>A Single Thing...</h1>


    <article>

        <header>
            <h3>{{ wood.type }}</h3>
        </header>

       {% for customer in customers%}
       {{customer.name}}
       {%endfor%}

     

{% endblock %}

