/*=====================================================
  User stylesheet - Building upon PicoCSS
=====================================================*/


/* ABOUT PAGE -------------------------------------------- */

html{
    background-color: antiquewhite;
}

#tech-stack {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

#tech-stack article {
    flex: 1;
}


/* MESSAGES -------------------------------------------- */

#messages ul {
    width: fit-content;
    margin: 2rem auto;
    padding: 0;
}

#messages .message {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
}

#messages .message.success { color: var(--pico-color-green-500); }
#messages .message.error   { color: var(--pico-color-red-500); }





.nav-link{
    text-align: right;
}

#navTitle{
    line-height: 0;
    align-self: center;
}

nav{ 
    border-bottom: 2px solid   ;
    border-color: #501D00;
}

#nav{
    display: flex;
    vertical-align: middle;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    line-height: 2rem;
    height: max-content;
    color: #501D00;
}

nav a {
    text-decoration: none;
    color: #501D00;
}

nav a:hover {
    text-decoration: underline;
}




article#backgroundOfButtons {
    display: flex;
    flex-direction: column;
    background-color: #501D00;  
    width: max-content;
    justify-self: center;

}

.brownButton {
    background-color: #CE8761 !important;
    color: aliceblue !important;
    border-color: #CE8761 !important;
    justify-content: center !important;
    justify-self: center!important;
    flex: 1!important;
    opacity: 100%!important;

}

.brownButton:hover{
    text-decoration: none;
    background-color: #D9A082 !important
    ;
}


#search {
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #CE8761;
    color: #501D00;
    
    
}

::placeholder{
    color: #501D00 !important;
}



#image{
    max-width: 50%;
}
  #backgroundPieChart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #501D00   ;
    
  }

  #textBackground {
    background-color: #CE8761;
    width: 50%;
    
    
  }







/* A hidden article to counteract with PicoCSS */
.hiddenArticle{
    background-color: transparent;
    box-shadow: none;
}

ul{
 list-style-type: none;
    
}


a {

    text-decoration: none;
    color: #501D00;
}

a:hover{
    text-decoration: underline;
}



#nameplate{
    border-radius: 1rem;
    

}

#orders{
    width:100%;
}

.date{
    font-weight: 700;
    color: white;
    text-align: center;
    justify-self: center;
}

  /* ================================ */
  /* big important ones I ithinkj */
  /* ================================= */
  
  /*Dark text in log for headers*/
  .text{ 
    color:#501D00;
    text-align: center;
    justify-self: center;
  }

  .borderHeader{ /*The "log"*/
    display: flex;
    background-color:#CA9F71;
    justify-self: center;
    
    /* justify-self: center; */
    justify-content: center;
    text-wrap: nowrap;   
    border-radius: 2rem;
    min-width: 50%;
  }
/* Light brown section inside darker brown section*/
  .innerbackground{ 
    display: flex;
    background-color: #CE8761;
    color: white;
    flex-direction: column;
    width: min-content;
    text-wrap: nowrap;
    /* justify-self: center; */
    margin: 5%;
    -ms-flex-align: center;
    /* align-items: center; */
    border-radius: 1rem;
    justify-content: center;
  }

  /* Makes the text white, usually inside the inner background but not always. Can also be used for lists.*/
.white { 
    color: white;
    justify-content: center;
    list-style-type: circle;
}

/* Dark brown background */
.background{
    display: flex;
    background-color: #7D4F37;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: column;
    
    align-items: center;
    
    width: 100%

}


/* Inputs for forms. */
input{
    background-color: #CE8761 !important;
    border-color: #501D00 !important;

}
input:focus {
    background-color: #D9A082 !important;
}

.theTable {
    background-color: #CE8761;
    border-color: #501D00 !important;
}

#lighterBrown {
    background-color: #D9A082
    !important; 
    border-color: #501D00 !important;
}



#lightbrownButton {
    background-color: #CA9F71;
    display: flex;
    justify-self: center;
    align-self: center;
    border-color: #D3AF88;

}
#lightbrownButton:hover{
    background-color: #D3AF88;
}